
body{
background: #f2f2f2;
border: none;
height: 70px;
position: relative;
text-align: center;
}
header{
    background: white;
    height: 80px;
    text-align: center;
    padding-top: 5px;

}

footer{
    background: white;
    height: 50px;
    text-align: right;
    padding-top: 8px;
    color: darkgray;
    font-family: 'PT Serif', serif;
    padding-right: 200px;


}
    
h1{
    font-family: 'PT Serif', serif;
    text-align: center;
    color: darkgray;
    position: relative;

}
p{
    
    font-family: 'Source Sans Pro', sans-serif;;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
.navigation{
    padding-top: 10px;
    color: white;
}
nav a {
    margin: 3px;
    padding: 3px;
    color: darkgray;
    font-family: 'PT Serif', serif;
}
.container{
    height: 449px;
    width: 362px;
    float: left;
    margin-top: 100px;


    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20 px;
    background-color: white;
    text-align: left;
    font-weight: 600;
    color: darkgrey

}
.wrap { 
    width: 1310px;/*фиксируем ширину обертки*/ 
    margin: 0 auto;/*центрируем ее*/ 
    background: white; 
    height: 1620px;/*Задаем высоту обертки*/ 
    padding-left: 160px;
    margin-top: 20px;
    margin-bottom: 20px;;
    
}
.wrap :last-child { margin-right: 0px;/*Убираем поле последнего div-а*/ }

.image{
    height: 218px;
    width: 310px;
    text-align: center;

}

.inputName {
    padding-top: 20px;
    text-align: left;
}

input {
    
    padding: 3px;
    border:2px solid #eee;
    box-shadow:0 0 20px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

button {
    font-family: inherit;
    color: darkgrey;
    border: 2px solid #eee;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

button:hover {
    background: #f3f3f3;
    font-family: inherit;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #d2d2d4;
  }


.outputHello {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    font-weight: 600;
}
.inputMsg{
    text-align: left;
    font-family: inherit;
    padding: 3px;
    box-sizing: border-box;
}
.outputMsg{
    text-align: left;
    font-family: inherit;
    padding: 3px;
    box-sizing: border-box;
}